<%- include('header') %>
		<div class="container">
			<div class="my-3 p-3 bg-white rounded shadow-sm">
				<h6 class="border-bottom border-gray pb-2 mb-0"><%- title %></h6>
				<% Object.keys(data).forEach(function(key){ %>
					<div class="media text-muted pt-3">
						<p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
							<strong class="d-block text-gray-dark"><%- key %></strong>
							<%- data[key].replace(/\n/g, "<br>"); %>
						</p>
					</div>
				<% }); %>
				<small class="d-block mt-3">
					<%- extras.replace(/\n/g, "<br>"); %>
				</small>
			</div>
		</div>
<%- include('footer') %>